<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.business.mapper.education.ExamQuestionAnswerMapper">

    <select id="selectQuestionAnswerList" resultType="com.education.model.dto.QuestionInfoAnswer">
        select
             question.id,
             question.content,
             question.video_url,
             question.answer,
             question.question_type,
             question.options,
             question.analysis,
             question.summarize,
             question_answer.comment,
             question_answer.student_answer,
             question_answer.correct_status,
             question_answer.question_points question_mark,
             question_answer.mark student_mark
        from question_info question
        inner join exam_question_answer question_answer on question.id = question_answer.question_info_id
        where question_answer.student_id = #{studentId} and question_answer.exam_info_id = #{examInfoId}
    </select>

    <select id="listPageByQuestionId" resultType="com.education.model.dto.ExamQuestionAnswerDto">
        SELECT
            a.student_answer,
            b.login_name,
            b.`name` student_name,
            a.test_paper_name,
            a.student_answer,
            a.correct_status,
            a.create_date
        FROM
            exam_question_answer a
                INNER JOIN student_info b ON a.student_id = b.id
        WHERE
            a.question_info_id = #{questionId}
    </select>
</mapper>