<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.business.mapper.system.SystemRoleMapper">

    <select id="findRoleListByAdminId" resultType="com.education.model.entity.SystemRole">
        select * from system_role where id in (
           select role_id from system_admin_role where admin_id = #{adminId}
        )
    </select>
</mapper>